/* GLOBAL */
:root {
    --dark2: #0B0C10;
    --orange: #FF4929;
    --babeblue: #66FCF1;
    --gray: #DEE0E6

}

*{
    margin: 0;
    padding: 0;
}
html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--gray);
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--dark2);
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}


/* NAVBAR */
header a {
    color: var(--white);
    list-style: none;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

header .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
}

/* END NAVBAR */


/* HOME */
.first{
    min-height: 100vh;
    box-sizing: border-box;
}
.second{
    min-height: 70vh;
    box-sizing: border-box;
}

.center-elements{
    display: flex;
    align-items: center;
}

.left-home h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
}

.left-home h1{
    color: var(--gray);
}
.left-home p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    color: var(--orange);
}
.looking{
    color: var(--gray);

}

/* SOCIAL */
.social{
    padding: 10px;
    text-decoration: none;
}
.social a{
    margin: -8px;
}
.fa-twitter{
    border-radius: 50%;
    background-color: #1DA1F2;
}

.fa-github{
    border-radius: 50%;
    background-color: white;
    color: black;
}

.fa-linkedin{
    border-radius: 50%;
    background-color: #2867B2;
    color: white;
}
/* END SOCIAL */
/* END HOME */

/* ABOUT */

.about h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
}
.technology img{
    width: 80px;
}
#csharp{
    width: 90px;
}
/* END ABOUT */


/* PARTICLES */
#particles-js {
    position : fixed;
    background-color: var(--dark2);

    width:100%;
    height:100%;
    z-index:-1;
}
/* DESKTOP */

.bordar{
    border: 1px solid red;
}

@media only screen and (min-width: 768px){
    .grid-home{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: end;
    }

    .right-home{
        justify-content: center;
    }

    .description-about{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .grid-about{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        min-height: 40vh;
        column-gap: 100px;
    }
    .technology{
 
    }
    .aaa{
        display: flex;
        justify-content: space-around;
        /* align-items: center; */
    }
}



/* MOBILE */

@media only screen and (max-width: 805px) {

   .firstName{
       font-size: 30px;
   }
    .grid-home{
        grid-template-columns: 1fr ;
    }


    .grid-about{
        grid-template-columns: 1fr;
    }

}